<div class="dashboard">
  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="user-profile text-center">
        <% if current_user.photo? %>
          <% photo = cl_image_path current_user.photo %>
        <% else %>
          <% photo = "https://orig00.deviantart.net/c91f/f/2010/014/b/c/avatar_by_eggar919.jpg" %>
        <% end %>
        <div class="avatar" style="background-image: url(<%= photo %>);"></div>
        <h3><%= current_user.first_name %></h3>
        <h3><%= current_user.last_name %></h3>
        <p><%= current_user.email %></p>
        <%= link_to "Edit your profile", edit_user_registration_path %>
      </div>
    </div>



    <div class="dash_nav col-xs-12 col-md-9">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="tab <%= "active" if params[:bikes] %>"><a href="#bikes" aria-controls="bikes" role="tab" data-toggle="tab">My Bikes</a></li>
        <li role="presentation" class="tab <%= "active" if params[:requests] %>"><a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Bikes that I have requested</a></li>
        <li role="presentation" class="tab <%= "active" if params[:bookings] %>"><a href="#bookings" aria-controls="bookings" role="tab" data-toggle="tab">Who wants my Bikes</a></li>
      </ul>


      <div class="tab-content">
        <div role="tabpanel" class="tab-pane <%= "active" if params[:bikes] %>" id="bikes">
          <% current_user.bikes.each do |bike| %>
          <li class="bike">
            <%= link_to bike_path(bike) do %>
              <%= cl_image_tag bike.photo, class: 'tab-image' %>
            <% end %>
            <div class="bike-details">
              <strong><%= bike.name %></strong>
              <p> <%= bike.description %></p>
            </div>
            <%= link_to '<i class="far fa-times-circle"></i>'.html_safe, bike_path(bike) , method: :delete, data: { confirm: "Are you sure you want to delete this bike?"} %>
          </li>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane <%= "active" if params[:bookings] %>" id="bookings">
          <% current_user.bikes.each do |bike| %>
            <% bike.bookings.each do |booking| %>
              <li class="bike">
                <%= link_to bike_path(bike) do %>
                 <%= cl_image_tag booking.bike.photo, class: 'tab-image' %>
                <% end %>
                <div class="bike-details">
                  <p>Bike name: <strong><%= booking.bike.name %></strong></p>
                  <div class="requester">
                    <p>Requested by <strong><%= booking.user.name %></strong></p>
                    <%= cl_image_tag booking.user.photo, class: "avatar-small" %>
                  </div>
                  <div class="booking-dates">
                    <p>From: <strong><%= booking.start_date %></strong> <i class="fas fa-arrow-right"></i> To: <strong><%= booking.end_date %></strong></p>
                  </div>
                </div>
                <div class="manage-request text-center">
                  <% if booking.status == "accepted" %>
                    <p>You have <strong><%= booking.status %></strong>  this booking</p>
                    <%= link_to "Decline", decline_path(booking), class: "btn btn-danger" %>
                  <% elsif booking.status == "declined" %>
                    <p>You have <strong><%= booking.status %></strong>  this booking</p>
                    <%= link_to "Accept", accept_path(booking), class: "btn btn-success" %>
                  <% else %>
                      <!-- pending -->
                    <p>This request is <strong><%= booking.status %></strong> </p>
                    <%= link_to "Accept", accept_path(booking), class: "btn btn-success" %>
                    <%= link_to "Decline", decline_path(booking), class: "btn btn-danger" %>
                  <% end %>
                </div>
              </li>
            <% end %>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane <%= "active" if params[:requests] %>" id="requests">
          <% current_user.bookings.each do |booking| %>
          <li class="bike">
            <div class="bike-photo">
              <%= link_to  bike_path(booking.bike) do %>
               <%= cl_image_tag booking.bike.photo, class: 'tab-image' %>
              <% end %>
              <div class="owner-picture">
                <%= cl_image_tag booking.bike.user.photo, class: "avatar-small" %>
              </div>
            </div>
            <div class="bike-details">
              <p>Bike name: <strong><%= booking.bike.name %></strong></p>
              <p>Bike Owner: <strong><%= booking.bike.user.name %></strong></p>
              <p>Location: <strong><%= booking.bike.address %></strong></p>
              <div class="booking-dates">
                <p>From: <strong><%= booking.start_date %></strong> <i class="fas fa-arrow-right"></i> To: <strong><%= booking.end_date %></strong></p>
              </div>
            </div>
            <div class="request-status">
              <p>This request is <strong><%= booking.status %></strong></p>
            </div>
          </li>
          <% end %>

        </div>
      </div>

    </div>

      </div>
    </div>
  </div>

  <%# content_for(:after_js) do  %>
    <!-- script>
      console.log($("#bookings"));
    </script> -->
  <%# end %>
