<div class="banner-show content-bottom" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://cdn.gearpatrol.com/wp-content/uploads/2015/04/best-mountain-biking-trails-new-zealand-gear-patrol-lead-full-.jpg');">

  <div class="container ">
    <div class="banner-user">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/tgenaitay", class: "avatar" %>
      <h3><%= @bike.user.first_name %></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex-container">
    <div class="left">
      <h1><%= @bike.name %></h1>
      <p><%= @bike.description %></p>

    </div>
    <div class="booking">

      <div class="informaton">
        <p style="margin-left: 4%;">City kids bike - Boys</p>
        <h2 style="margin-left: 4%;">£10 /day</h2>

        <hr class="line">

        <p><i class="fas fa-check icon-space"></i>Location: Shoreditch</p>
        <p><i class="fas fa-check icon-space"></i>Available: 24May till 30May</p>
        <p><i class="fas fa-check icon-space"></i>Body height:  110 - 140cm</p>
      </div>
      <hr class="line">
      <div class="center">
        <!-- <a href="#" class="btn_request">Request booking</a> -->
        <% if user_signed_in? %>
        <%= simple_form_for [@bike, @booking], :method => :post do |f|%>
          <%= f.submit "Request to book", class: "btn-request", id:"sweet-alert-demo" %>
        <% end %>

        <% else %>
          <%= link_to "Sign In",  new_user_session_path, class: "btn btn-signup" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="three-pictures">
  <% if @bike.photo? %>
       <%= cl_image_tag(@bike.photo, width: 400, height: 300, crop: :fill, class: "image-padding bike-image")%>
<% end %>

</div>

